body {font-family: Arial, Helvetica, sans-serif;
      font-size:medium;
      background-color: silver;
      margin:20px}


h1 {
text-indent: 50px;
text-align:center;
letter-spacing:3px;
color:purple;}

p {
text-indent:50px;
text-align:center;
letter-spacing:3px;
font-size: 20px;
color:black;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:green;
}

div.img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 590px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 490;
}

div.desc {
    padding: 15px;
    text-align: auto;
}
