﻿body {font-family: Arial, Helvetica, sans-serif;
      font-size:medium;
      color:black;
      background-color: silver;
      margin:20px}

      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: brown;
      }
      li {
          float: left;
      }
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      li a:hover {
          background-color:green;
      }

      h2 {
      text-indent: 50px;
      text-align:center;
      letter-spacing:3px;
      color:black;}

      table {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 10px;
        border-collapse: separate;
        border: black 2px solid;
      }
      td {
      border: black 2px solid;
       }
      p {
        text-align: center;
      }
      div.img {
        text-align: center;
      }
