﻿body {font-family: Arial, Helvetica, sans-serif;
      font-size:medium;
      background-color: silver;
      margin:10px}

      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: brown;
      }
      li {
          float: left;
      }
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      li a:hover {
          background-color:black;
      }
      h2 {
      text-indent: 10px;
      text-align:left;
      color:black;
      letter-spacing:3px;
      }
      div.img{
          display: block;
      }
